<div style="margin-top: 5rem;">
  <h2>Voici les contacts de l'équipe :</h2>
  <div style="margin-top: 5rem;">
    <ul>
      <li>Alice@email.fr</li>
      <li>Melvin@email.fr</li>
    </ul>
  </div>
</div>