<div style="margin-top: 5rem;">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<h1>Bonjour et bienvenue sur notre super site !</h1>